<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="container">
  <h1>Front-end cource</h1>
  <hr>
  <div class="logo text-center"></div>

  <a href="/about.html">About link</a>
  Hello it is first app!
</div>
</body>
</html>
